BOX_CONFIG=box_config.json
BOX_FOLDER_ID=box_folder_id
BOX_USER_ID=box_user_id
BOX_DEVELOPER_TOKEN=box_developer_token
GLOSSARY_SECRET=your_glossary_secret
PHRASES_SECRET=your_phrases_secret
FIREBASE_DB=your_firebase_db_key
DEEPL_API_KEY=your_deepl_api_key_here