[build]
environment = { NODE_VERSION = "18.17.0", NPM_VERSION = "9.6.7" }
publish = "docs/"
command = "npm run netlify"

[[plugins]]
package = "@netlify/plugin-functions-install-core"

[[headers]]
for = "/hdr/*"
[headers.values]
Cross-Origin-Embedder-Policy = "require-corp"
Cross-Origin-Opener-Policy = "same-origin"

[[headers]]
for = "/compiler/threshold/*"
[headers.values]
Cross-Origin-Embedder-Policy = "require-corp"
Cross-Origin-Opener-Policy = "same-origin"
Cross-Origin-Resource-Policy = "cross-origin"

[[headers]]
# Define which paths this specific [[headers]] block will cover.
for = "/*"
[headers.values]
Access-Control-Allow-Origin = "*"

# Rewrite /compiler/* to /experiment/* (keeps URL as /compiler/)
[[redirects]]
from = "/compiler/*"
to = "/experiment/:splat"
status = 200
force = true

# [[plugins]]
# package = "@netlify/plugin-lighthouse"

[dev]
command = ""
port = 8888
publish = "docs/"

[functions]
node_bundler = "esbuild"
