* {
  outline: none;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.2rem;
  line-height: 170%;
}

@media screen and (min-width: 960px) {
  .columns-on-large-screen {
    column-count: 2;
    column-gap: 3rem;
  }
}

.navbar {
  padding-left: 3rem;
  padding-right: 3rem;
  background: #fff;
  padding-bottom: 0;
  padding-top: 0;
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav-item {
  font-size: 1.2rem;
  font-weight: 400;
}

:not(.show) .nav-item {
  margin-left: 1rem;
}

.dropdown-menu {
  padding: 0;
  border: none !important;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dropdown-item {
  padding: 0.375rem 1.5rem;
}

.dropdown-item.active {
  background: #999;
}

.dropdown-item:not(.active) {
  color: #666;
}

.dropdown-item:active {
  color: #fff;
  background: #999;
}

main {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 90%;
  max-width: 960px;
}

pre {
  font-size: 0.675rem;
  line-height: 150%;
  margin: 0;
  padding: 0.25rem;
  color: #999;
  /* background: #fafafa; */
}

/* -------------------------------------------------------------------------- */

#header {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header h1 {
  color: #333;
}

.description {
  margin: 0 0 10px 0;
}

.description,
.description a {
  font-size: 1.5rem;
  color: #666;
}

.description .highlight {
  color: #333;
  font-weight: 700;
}

.headline-next {
  font-weight: 200;
}

/* -------------------------------------------------------------------------- */

section h2 {
  font-size: 2rem;
}

section p {
  margin-top: 1rem;
}

.main-text a {
  color: #666;
}

/* -------------------------------------------------------------------------- */

footer {
  margin: 3rem auto;
  text-align: center;
  /* border-top: 1px solid #eee; */
}

footer p {
  margin-top: 1rem;
  color: #999;
  font-size: 0.875rem;
}
