#root {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 90%;
  position: relative;
}

#header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
}

.description {
  font-size: 1.5rem;
  color: #666;
  margin: 0 0 10px 0;
}

.file-error {
  color: red;
  margin-bottom: 10px;
  font-size: 1rem;
}

.output-filename {
  margin-bottom: 10px;
}

.filename-warning {
  color: red;
}

.dropzone-sub-text {
  font-size: 1.2rem;
  color: #666;
}

.merge-btn-disabled {
  background: #999;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: not-allowed !important;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 100%;
  outline: none !important;
  border: none !important;
}

.merge-btn-enabled {
  background: #019267;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 100%;
}

.selected-file {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 4px;
}

.selected-file span {
  display: flex;
  align-items: center;
}

.selected-file span:first-child {
  padding: 5px;
  border-radius: 4px;
}

.selected-file i {
  font-size: 1.2rem;
  cursor: pointer;
}

#output-filename-input {
  display: none;
  min-width: 350px;
}

.dropzone {
  position: relative;
  border-radius: 0.5rem !important;
  outline-offset: -2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #019267;
  transition:
    color 0.1s ease-in-out,
    outline 0.1s ease-in-out;
  width: 250px;
  padding: 0.7rem;
  margin-bottom: 10px;

  .dropzone-sub-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }

  p {
    line-height: 150%;
    margin-bottom: 0;
  }
}

.merge-file-status {
  display: flex;
  align-items: center;
}

#merge-status {
  margin-left: 10px;
}
